// FILE (create it): src/quasar-variables.sass

// $primary   : #ffdf8e;
// $primary   : #ffa826;
$primary   : #ff9c08;
$secondary : #e9e9e9;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$body-font-size   : 1rem !default;
// $body-line-height : 1.5 !default;
$button-font-size : 1rem !default;
// $button-shadow : $shadow-1 !default;
